@font-face {
    font-family: 'patinio_neueregular';
    src: font-url('patinio_neue-webfont.woff2') format('woff2'),
         font-url('patinio_neue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
