.heading-box{
  width: 100%;
}

.user-heading{
  text-align: center;
}

.search-box{
  width: 100%;
  height: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.export-btn{
  margin-bottom: 2%;
}

.member-id{
  float: right;
}
